<section class="d-flex align-items-center">
  <div class="container text-center py-lg-5 py-md-5 py-4" data-aos="fade-up">
    <h2>WHAT WE DO</h2>
    <div class="line-title-center mx-auto"></div>
    <h3 class="mb-5">WE DESIGN, BUILD, AND DEPLOY ROBOT MECHANISIMS.</h3>
    <div class="row justify-content-center">
      <app-about-us-item
        *ngFor="let item of about.cards; let last=last"
        [ngClass]="last ? 'col-xl-3 col-md-6': 'col-xl-3 col-md-6 me-md-3 mb-sm-3 mb-3'"
        [icon]="item.icon"
        [title]="item.title"
        [desc]="item.desc"
        [anchor]="item.anchor"
        style="width: 18rem"
      ></app-about-us-item>
    </div>
  </div>
</section>
