.card {
    background: rgba(255, 255, 255, 0.1);
    border: 0;
}

.card:hover {
    border: 1px solid #fff;
    transition: .25s ease-out;
    transform: scale(1.05);
}

.card-body p {
    color: rgba(255, 255, 255, 0.8);
}

.card-text {
    height: 120px;
}