<section class="d-flex align-items-center">
  <div class="container text-center py-lg-5 py-md-5 py-4">
    <h2>SERVICES</h2>
    <div class="line-title-center mx-auto"></div>
    <h3 class="mx-md-5 px-md-5 mb-5">
      REACH OUT TO US FOR ORDERING EITHER CUSTOM SOLUTIONS OR PRE-EXISTING
      DESIGNS!
    </h3>
    <div class="row justify-content-center">
      <app-services-item
        *ngFor="let item of services.cards; let last = last"
        [ngClass]="last ? 'col-lg-6 col-md-6' : 'col-lg-6 col-md-6 me-lg-3 mb-3'"
        [icon]="item.icon"
        [title]="item.title"
        [desc]="item.desc"
        [anchor]="item.anchor"
        style="width: 25rem;"
      ></app-services-item>
    </div>
  </div>
</section>