<footer>
  <div class="container py-lg-5 py-md-5 py-4">
    <h2 class="text-center">About the Founder</h2>
    <div class="line-title-center mx-auto"></div>
    <div class="row pt-3">
      <div class="col-lg-8 col-md-8 col-12">
        <div class="row justfify-content-center align-items-center">
          <div class="col-lg-4 col-md-4 col-12 pb-3">
            <h3 class="text-center pb-lg-3 pb-md-3">Omar Abdul-hadi</h3>
            <img src="assets/images/founder.png" alt="Founder Image" />
          </div>
          <div id="founder-info" class="text-start col-lg-8 col-md-8 col-12 pt-lg-5 pt-md-5 ps-lg-2 ps-md-2">Omar Abdul-hadi received his PhD in robotics from The University of California, Berkeley. He is an industry veteran in the realm of robotics. He worked for seven years at Yaskawa in a highly specialized R&D team developing robot control software. He also led the effort to re-architect the Semiconductor tool robot control software at Applied Materials. He also worked as a Senior Software Engineer at Apple developing both frontend and backend software. He has made multiple inventions in the fields of robot motion through singularities and robot path planning, one of which is patented.</div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-12 ps-lg-5 ps-md-5 pt-lg-0 pt-md-0 pt-3">
        <h3 class="pb-3">Social</h3>
        <ul>
          <li class="ps-2"><i class="bi bi-linkedin"></i><span class="d-inline-block ps-2"><a href="https://www.linkedin.com/in/omar-abdulhadi-phd-05855756/">LinkedIn</a></span></li>
          <li class="py-2"><div class="footer-line"></div></li>
          <li class="ps-2"><i class="bi bi-instagram"></i><span class="d-inline-block ps-2"><a href="https://www.instagram.com/adeebrobotics/">Instagram</a></span></li>
          <li class="py-2"><div class="footer-line"></div></li>
          <li class="ps-2"><i class="bi bi-github"></i><span class="d-inline-block ps-2"><a href="https://github.com/omarabdul-hadi">Github</a></span></li>
          <li class="py-2"><div class="footer-line"></div></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div id="copyright" class="text-center">
  <p>Copyright Adeeb Robotics LLC.</p>
</div>