.navbar {
    background-color: #fff;
}

.navbar-brand {
    color: #1087eb;
}

.collapsing,
.collapse {
    transition: 0.5s ease-out;
}

button.navbar-toggler {
    border: 0;
}

button.navbar-toggler:focus,
button.navbar-toggler:hover {
    border: 0;
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(16, 135, 235)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

a {
    cursor: pointer;
}