<section class="d-flex align-items-center">
    <div class="container text-center py-lg-5 py-md-5 py-4" data-aos="fade-up">
        <div class="mb-5">
            <h2>CURRENTLY AVAILABLE ROBOT MODELS</h2>
            <div class="line-title-center mx-auto"></div>
            <h3>CHOOSE ANY OF OUR PRE-EXISTING DESIGNS!</h3>
        </div>
        <div class="mb-4">
            <a *ngFor="let item of products.cards; let i=index; let last=last" 
            (click)="changeId(i)"
            [ngClass]="last ? 'btn px-lg-4 py-lg-2 px-md-4 py-md-2 px-2 py-1':'btn px-lg-4 py-lg-2 px-md-4 py-md-2 px-2 py-1 me-lg-3 me-md-3 me-1'"
            >{{item.title}}</a>
        </div>
        <app-products-item 
            [id]="id"
            [media]="products.cards[id].media"
            [title]="products.cards[id].title"
            [desc]="products.cards[id].desc" 
            class="d-flex justify-content-center">
        </app-products-item>
    </div>
</section>