section {
    width: 100%;
    min-height: 100vh;
}

a {
    background-color: #1087eb;
    color: #fff;
}

a:hover {
    background-color: #1087eb;
    color: #fff;
    opacity: 0.85;
}

h3 {
    color: #9a9a9a;
    font-weight: 300;
}

.line-title-center {
    width: 100px;
    height: 3px;
    background-color: #2c90e4;
    margin-top: 15px;
    margin-bottom: 10px;
}

@media (max-width: 360px) {
    a {
        font-size: 0.75rem;
    }
}